{% extends './shared/base.html' %}

{% block title %}درباره ما | Runit{% endblock %}

{% block content %}

<div class="container">
    <section class="term-content">
        <header><h1>   آکادمی رانیت </h1></header>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                <section class="term-description">

                    <h2> درباره ما
                         </h2>
                    <p>
                        در دنیای امروز که فناوری‌های نوین به سرعت در حال تغییر و پیشرفت هستند، توانایی تسلط بر مهارت‌های برنامه‌نویسی و تکنولوژی‌های دیجیتال یکی از مهم‌ترین نیازهای فردی و حرفه‌ای به شمار می‌آید. آکادمی رانیت با درک عمیق از این نیازها و با هدف ایجاد بستری برای یادگیری عمیق و ترویج آموزش رایگان در ایران، تأسیس شده است تا فضایی را فراهم کند که همه افراد علاقه‌مند به دنیای فناوری، با توجه به سطح مهارت و تجربه قبلی، بتوانند در آن دانش و توانایی‌های خود را توسعه دهند. در آکادمی رانیت آموزش رایگان فارسی برنامه نویسی با هدف استخدام وجود دارد و میتواند برای شروع مسیر یادگیری برنامه نویسی بسیار مفید باشد.
                    </P>
                    <p>&nbsp;</p>
                    <p>
                        آکادمی رانیت با بهره‌گیری از مجرب ترین مدرس و پشتیبانی ، محیطی پویا و تعاملی و گروهی را برای یادگیری ارائه می‌دهد. ما بر این باور هستیم که یادگیری نباید محدود به چهارچوب‌های سنتی و یا کلاس‌های انلاین باشد و هر فرد باید بتواند با توجه به سبک زندگی و نیازهای خود در آموزش‌های با کیفیت شرکت داشته باشد. به همین دلیل، رانیت شرایطی را فراهم کرده است که علاقه مندان به برنامه نویسی و دنیای تکنولوژی و دیجیتال مارکتینگ می‌توانند از محتوای آموزشی ما بهره‌مند شوند.
                    </p>
                    <p>&nbsp;</p>
                    <h2>هدف رانیت از دوره<h2>
                    <p>
                        هدف اصلی ما در رانیت، پرورش نسل جدیدی از برنامه‌نویسان و متخصصان فناوری است که بتوانند در دنیای پرسرعت و دیجیتال امروزی، حرفی برای گفتن داشته باشند. مأموریت ما ارائه آموزش‌هایی است که نه تنها به تقویت مهارت‌های تئوری کمک کند، بلکه هنرجویان را به طور عملی برای ورود به بازار کار آماده سازد. در این راستا دوره‌ه آموزشی ما به صورت پروژه‌ محور و عملی طراحی شده‌اند تا فراگیران بتوانند با انجام پروژه‌های واقعی و گروهی ، مهارت‌های خود را در عمل به کار بگیرند.
                    </p>
                    <p>&nbsp;</p>
                    <p>

                    </p>
                    <p>&nbsp;</p>
                    <h2>رویکرد آموزشی ما  </h2>
                    <p>
                        آکادمی رانیت از ابتدا با تمرکز بر ارائه آموزش‌های عملی و گروهی بنا شده است. ما بر این باوریم که یادگیری نباید صرفاً به تئوری محدود شود؛ بلکه ترکیبی از تئوری و تمرین عملی است که می‌تواند یک یادگیرنده را به سطح مطلوبی از مهارت برساند. دوره‌ ما به گونه‌ای طراحی شده‌اند که دانشجویان پس از اتمام هر دوره، بتوانند با اعتماد به نفس کافی پروژه‌های واقعی را به تنهایی انجام دهند و آن‌ها را در رزومه خود قرار دهند.
                    </p>
                    <p>&nbsp;</p>
                    <p>

                        یکی از ویژگی‌های بارز دوره‌ آموزشی رانیت ،  تعامل با استاد و دیگر فراگیران در حین آموزش است. ما از یک رویکرد تعاملی استفاده می‌کنیم تا دانشجویان بتوانند در هر مرحله از یادگیری، سوالات و چالش‌های خود را با تیم آموزشی و دیگر دانشجویان در میان بگذارند. این رویکرد باعث می‌شود که یادگیری به یک تجربه مشارکتی و تعاملی تبدیل شود که در آن هر فرد می‌تواند از تجربیات دیگران نیز بهره‌مند شود. 

                    </p>
                    <h2>جامعه یادگیری</h2>
                    <p>
                        یکی از مهم‌ترین مزایای یادگیری در رانیت، ارتباط با یک جامعه بزرگ و فعال از علاقه‌مندان به تکنولوژی است. ما در رانیت به ایجاد فضایی تعاملی و دوستانه اهمیت می‌دهیم که در آن دانشجویان می‌توانند با یکدیگر در ارتباط باشند، تجربیات خود را به اشتراک بگذارند و از حمایت‌های متقابل برخوردار شوند. این جامعه یادگیری باعث می‌شود که فرآیند یادگیری لذت‌بخش‌تر و اثربخش‌تر باشد، زیرا شما می‌توانید از تجربیات دیگران استفاده کنید و در صورت نیاز به کمک، از حمایت‌های آن‌ها برخوردار شوید و همچنین مهارت های اخلاقی کارهای گروهی را فرا بگیرید .
                    </p>
                    <p>&nbsp;</p>
                    <h2> آینده برنامه نویسی با رانیت </h2>
                    <p>
                        در دنیایی که تکنولوژی به سرعت در حال پیشرفت است، یادگیری مداوم و ارتقای مهارت‌ها ضروری است. ما در آکادمی رانیت متعهد به ارائه بهترین و به‌روزترین منابع آموزشی در دوره هستیم تا شما بتوانید با اعتماد به نفس و دانش کافی، در هر مسیری که انتخاب می‌کنید، موفق باشید. آینده شما با یادگیری امروز شروع می‌شود و ما در رانیت آماده‌ایم تا در این مسیر همراه شما باشیم.
                    </p>
                    <p>&nbsp;</p>

                </section>
            </div>
        </div>
    </section>
</div>

{% endblock %}