{% extends './shared/base.html' %}

{% block title %}لیست دوره ها{% endblock %}
{% block content %}

<!-- content -->
<main id="home-page">
    <div class="container">
            <div class="row">
            {% for course in courses %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col" >
                    <article class="rounded-">
                        <a href="{{url_for('course_detail',course_id=course.course_id)}}" class="img-layer"><img src="{{ url_for('static', filename=course.image.replace('static/', '').replace('runnit_project/', '').replace('\\', '/')) }}"></a>
                        <h2><a href=""> {{course.name}} </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>    
            {% endfor %}

            </div>
        </section>
    </div>
</main>
<!-- /content -->
{% endblock %}