{% extends './shared/base.html' %}

{% block title %}لیست دوره ها{% endblock %}
{% block content %}

<div class="container">
    <div class="row">   
        {% for course in courses %}

        <div class="col-md-4 mt-5">
            <div class="card shadow-sm border-light">
                <div class="card-header bg-info text-white fw-bold text-center">
                    <h4 class="mb-0">آموزش برنامه نویسی</h4>
                </div>
                <div class="card-body">
                    <a href="{{url_for('detail_post_demo')}}" class="img-layer">
                        <img src="/../../static/images/pic/1.jpg" class="card-img-top" alt="آموزش برنامه نویسی" style="border-radius: 10px;">
                    </a>
                    <h5 class="card-title mt-3">معرفی شرکت گلدیس</h5>
                    <p class="card-text text-muted">شرکت گلدیس برگزار کننده رایگان دوره های کارآموزی به منظور کشف و استخدام استعداد های برتر است.</p>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="badge badge-success">رایگان</span>
                        <i class="text-muted">مدت زمان: 1:52:32</i>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{{url_for('detail_post_demo')}}" class="btn btn-info">مشاهده جزئیات</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        
    </div>
</div>



{% endblock %}