{% extends './shared/base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="custom-alert">
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endwith %}


<main class="client-page">
    <div class="container-content">

        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">


    <form method="POST">

        <div class="input-group">
            <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
            <input required name="password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
        </div>
        <button name ="submit" type="submit"  class="btn btn-success"> تایید رمز </button>
        
    </form>

</div>

</form>
</div>

</div>
</main>

{% endblock %}


