<!-- main manu -->


<div class="landing-layer">
    <div class="container overlay">
        <nav>
            <div class="row">
                <div class="col-sm-6 col-xs-12 ">
                    <ul>
                        <li class="font-size-2">
                            <a href=""> منابع  </a>
                            <a href=""> درباره ما </a>
                            <a href=""> تماس با ما </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="clientarea">
                    {% if user %}

                    {% if user.is_admin == false %}
                                            

                    <div class="loggein ">
                        
                        <i class="zmdi zmdi-account"></i><a href="{{url_for('admin_panel')}}"> {{user.firstname}}</a>
                   </div>
                   
                   <div class="loggein ">
                    <i class="zmdi zmdi-account"></i><a href="{{url_for('logout')}}">خروج</a>
                    </div>
           

                    </div>
                    {% endif %}

                    {% if user.is_admin %}
                        
                    <div class="loggein ">
                        
                        <i class="zmdi zmdi-account"></i><a href="{{url_for('admin_panel')}}">
                            Admin : {{user.firstname}}</a>
                        </div>
    
                        <div class="loggein ">
                            <i class="zmdi zmdi-account"></i><a href="{{url_for('logout')}}">خروج</a>

                    {% endif %}
                    {% else %}
                   
   
                    <div class="">
                        
                        <a href="{{url_for('login')}}"> ورود </a> /
                        <a href="{{url_for('signup')}}"> عضویت </a>
                    </div>                     

                    {% endif %}

                    </div>  
                </div>
            </div>
            
        </nav>
        <header>
            <a href="" class="logo"><img src="./../../static/images/logo.jpg" height='80px'></a>
            <h1> با اساتید مجرب و کارآزموده در رانیت </h1>
            <h2> آموزش ببینید ، تجربه کسب کنید و بازار کار شوید </h2>
            <h3> با کمترین هزینه آموزش ببینید </h3>
        </header>
        <div class="search-form">
            <form>
                <input type="text" name="" placeholder="دنبال چی میگردی ؟">
                <button><i class="zmdi zmdi-search"></i></button>
            </form>
        </div>
    </div>
</div>



