
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ادمین</title>
    <link rel="stylesheet" type="text/css" href="css/style2.css">
    <style>
        header {
            background-image: linear-gradient(270deg, #7728b8, #b95ff0e0 23.78%, #7728b8f2 49.83%, #b95ff0e0 72.74%, #7728b8);
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <header>
        <h1>صفحه مدیریت</h1>
    </header>
    <div class="admin-panel">
        <h1> </h1>
        <!-- نمایش دوره‌ها -->
        <div class="courses">
            <h2>دوره‌ها</h2>
            <ul>
                <li>دوره 1</li>
                <li>دوره 2</li>
                <li>دوره 3</li>
            </ul>
        </div>
        <!-- نمایش اعضای شرکت‌کننده‌ها -->
        <div class="members">
            <h2>اعضا</h2>
            <ul>
                <li>شرکت کننده 1</li>
                <li>شرکت کننده 2</li>
                <li>شرکت کننده 3</li>
            </ul>
        </div>
        <!-- نمایش اطلاعات شرکت‌کننده‌ها -->
        <div class="participant-info">
            <h2>اطلاعات شرکت کننده</h2>
            <div class="profile">
                <h3>پروفایل شرکت کننده</h3>
                <p>نام: شرکت کننده 1</p>
                <p>ایمیل: example@example.com</p>
                <p>تاریخ عضویت: 01/01/2021</p>
            </div>
        </div>
    </div>
</body>

</html>

















<h1>Admin profile : </h1>

    <ul>
        <li>full name : {{user.firstname}} {{user.lastname}}</li>
    
    {% if posts %}
        
    
        
    {% for post in posts %}
        <ol>posts :
        <li><a href="{{url_for('post_detail',post_id = post.post_id)}}">{{post.title}}</li>
        </ol>
    {% endfor %}
    {% endif %}
        <li>create a new post : <a href="{{ url_for('create_post') }}"> create a new post</a></li>
        
        {% if courses %}
            
        
            
        courses :
        {% for course in  courses %}
        <li> 
            
             {{course}}
            
            
        </li>{% endfor %}{% endif %}
    </ul>



