{% extends './shared/base.html' %}

{% block content %}




<main class="client-page">
    <div class="container-content">

        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form method="POST">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input required name="email" type="email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="custom-alert">
                        <ul class="flashes">
                            {% for message in messages %}
                            <li style="color: red;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                {% endwith %}
                
                </div>

                <button name ="submit" type="submit"  class="btn btn-success"> تایید </button>

            </form>
        </div>

    </div>
</main>

{% endblock %}


